* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */

.logo {
  width: 100px;
  height: 80px;
}

.bg-nav {
  background-color: #596c0f;
}
.btn-nav {
  background: #d0ef8e;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  color: #596c0f;
}

.btn-nav:hover {
  background: #596c0f;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  color: #d0ef8e;
}

.mr-separador {
  margin-right: 40px;
}
FIM NAVBAR body {
  background-color: #e9e9e9;
}

/*formulario*/
.form-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.form-content .form-items {
  border: 3px solid #596c0f;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  border-radius: 10px;
  text-align: left;
}

.form-content input[type="nome"],
.form-content input[type="text"],
.form-content input[type="password"],
.form-content input[type="email"] {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8d8d8d;
  margin-top: 16px;
  border-color: #596c0f;
  border-width: 2px;
}
/*botão*/
.main-btn {
  margin-top: 30px;
  background-color: #596c0f;
  color: #d0ef8e;
  border-radius: 30px;
  border: 3px solid #596c0f;
  transition: 0.5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #596c0f;
  background-color: #d0ef8e;
  border-color: #d0ef8e;
}

.btn-primary {
  background-color: #596c0f;
}

.btn-primary:hover {
  background-color: #d0ef8e;
  border-color: #d0ef8e;
}

.form-check-label {
  color: #a6a6a6;
}
.bg-footer {
  background: #2e2e2e;
}
